#target {
  border:1px solid #000;
}

#scheduler {
	background: #fcf5f5;
	border-radius: 10px;
	padding: 5% 5%;
    padding-bottom: 15px;
	margin: 20px auto;
    max-width: 580px;
    text-align: left;
}
@media (max-width: 600px) {
    #scheduler {
        border-radius: 0px;
    }
    #scheduler h3 {
        font-size: 140%;
    }
}
	#scheduler ol {
		list-style: none;
	}
	#scheduler ol li>div {
		font-weight: normal;
		color: #000000;
		font-size: 13px;
	}
	#scheduler li {
		margin-bottom: 30px;
	}
	#scheduler li.last {
		margin-bottom: 14px;
	}
	#scheduler h3 {
		font-size: 160%;
		font-weight: normal;
		margin-bottom: 12px;
        line-height: 25px;
	}
	#scheduler p {
		font-size: 11px;
		margin-top: 4px;
	}
	#scheduler #locations-yes {
		margin-bottom: 5px;
	}
	#scheduler #scheduler-submit {
		font-weight: normal;
		padding: 10px 40px;
		color: #860000;
        margin-bottom: 10px;
	}

	.ui-widget {
		font-size: 13px !important;
	}
	.ui-dialog {
		box-shadow: 4px 4px 6px #999;
		border: 1px solid #968888 !important;
	}
	.ui-dialog input {
		margin-top: 5px;
		width: 150px;
	}
    
    #skyscraper {
        float: right;
    }
    @media (min-width: 600px) {
        #skyscraper ins {
            width: 120px;
            height: 600px;
        }
    }
    @media (max-width: 599px) {
        #skyscraper ins {
            display: none;
        }
    }
        

#advanced-options {
    height: 193px; /* set this because of the sliding animation */
}
#advanced-options .field-wrapper {
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 35px;
}
#advanced-options .field {
    font-size: 11px;
}
.question-label {
    margin-top: 14px;
    margin-bottom: 4px;
    display: inline-block;
}
.question-label.first {
    margin-top: 0px;
}
.tooltip {
    cursor: help;
}

.clear {
    clear: both;
}

.tournament-url {
    padding-left: 3em;
}
@media (max-width: 600px) {
    .tournament-url {
        word-wrap: break-word;
        text-indent: -1em;
    }
}

h2 {
    color: #860000;
    font-weight: bold;
    border-bottom: 1px solid #860000;
    margin-right: 5%;
    margin-bottom: 3%;
    padding-bottom: 2px;
}
.schedule {
    border-collapse: collapse;
    margin-bottom: 15px;
    border-bottom: 3px solid #ccc;
    table-layout: fixed;
    text-align: left;
    width: 100%;
    margin: 0px auto;
}
    .schedule td {
        padding: 1%;
        vertical-align: top;
        font-size: 100%;
    }
    .schedule.adminrights td.editable:hover {
        background: url(../images/icon-edit.png) right 6px no-repeat;
    }
    .schedule tbody.even {
        background: #eee;
    }
    .schedule tr {
        border-bottom: 1px solid #ccc;
        padding: 1%;
    }
    .schedule tr:hover {
        background: #f9f9f9;
    }
    .schedule th {
        border-bottom: 3px solid #ccc;
        text-align: center;
        padding-bottom: 2%;
        padding: 1%;
        font-weight: normal;
        font-size: 120%;
    }
    .schedule tbody.row-separator:hover, .schedule tbody.row-separator tr:hover, .schedule thead tr:hover {
        background: none;
    }
    .schedule tbody.row-separator td {
        border-bottom: 3px solid #ccc;
        border-top: 3px solid #ccc;
    }
    
    /* cell widths, hard-code for consistent appearance with editing */
    .schedule th.round-header {
        width: 6%;
    }
    @media (max-width: 900px) {
        .schedule th.round-header {
            visibility: hidden;
        }
    }

    .schedule td.round-number {
        text-align: center;
        width: 7%;
    }
    .schedule .player {
        width: 24%;
    }
    .schedule td.separator, .schedule th.separator {
        text-align: center;
        width: 2%;
    }
    .schedule .score {
        width: 13%;
    }
    .schedule td.note, .schedule th.note {
        width: 19%;
    }
    
    .schedule th.player, th.score {
        overflow: visible;
    }
    
    @media (min-width: 600px) {
        .schedule.locations-scheduled .player, .schedule.locations-scheduled .location {
            width: 18%;
        }
        .schedule.locations-scheduled .score {
            width: 10%;
        }
        .note-location-switch {
            display: none;
        }
        .mobile-hint {
            display: none;
        }
    }
    @media (max-width: 599px) {
        .schedule.locations-scheduled .note {
            display: none;
        }
        .schedule th.note-location-switch {
            width: 19%;
            font-size: 100%;
            line-height: 100%;
        }
        th.note-location-switch span {
            display: block;
            color: #ccc;
        }
        th.note-location-switch span.active {
            color: #000;
        }
        th.note-location-switch .location-switch {
            /*border-bottom: 1px solid #000;*/
        }
        .schedule th.note, .schedule th.location {
            display: none;
        }
    }


    .schedule td.being-edited {
        padding: 0.1em;
        padding-left: 1%;
    }
    .schedule td.editable input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 100%;
        background: #fffff5;
        font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", Garuda, Arial, Helvetica, sans-serif;
    }
    
    .addthis_toolbox {
        margin-top: 30px;
        margin-bottom: 40px;
    }
    
    
.schedule.results td, .schedule.results th {
    text-align: center;
}
.schedule.results .player {
    width: 20%;
    text-align: left;
}
.schedule.results .rank {
    width: 5%;
    text-align: left;
}

@media (max-width: 599px) {
    .schedule.results thead {
        display: none;
    }
    .schedule.results {
        border-top: 3px solid #ccc;
    }
    .schedule.results .player {
        width: 40%;
    }
}

.fineprint {
    font-size: 11px;
    line-height: 14px;
    text-align: left;
}
    
.status-popup {
    position: fixed;
    top: -10px;
    left: 50%;
    width: 350px;
    margin-left: -183px;
    height: 20px;
    padding: 6px;
    padding-top: 16px;
    background-color: #ffffcc;
    border: 1px solid #999900;
    border-radius: 10px;
    text-align: center;
    z-index: 10;
    display: none;
}

@media (max-width: 600px) {
    .status-popup {
        border-radius: 0px;
    }
}

.page-section {
    margin-top: 10%;
}
.page-section ol, .page-section ul {
    padding: 0px 5%;
}
.page-section li {
    margin-bottom: 10px
}

.fb-like {
    margin-top: 10px;
}

.hidden {
    display: none;
}


#rightAd {
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}
.horizontalAd {
    margin: 1em auto;
    padding: 0 2%;
}
@media (min-width: 599px) {
    .home-top-ad {
        display: none;
    }
}
#sync-link {
    font-size: 10px;
}

a.highlight {
    display: block;
    border: 1px solid #860000;
    border-radius: 8px;
    padding: 3px;
    text-align: center;
    margin-top: 20px;
}
a.highlight:hover {
    color: #fff;
    background: #860000;
}

p.admintext {
    margin-top: 20px;
}

strong {
    font-weight: 700;
}

#tournament-number-highlight {
    font-style: italic;
    text-align: center;
}

#comments-list {
    display: none;
}

@media (max-width: 525px) {
    #skyscraper {
        display: none;
    }
}


#disqus_thread {
    margin: 0 -2%;
}

.alert {
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 110%;
    margin: 6%;
    padding: 1% 3% !important;
}
